h1 {
    color: darkred;
    text-align: center;
    font-style: italic;
    font-size: xx-large;
  }
  body{
      background-color: darkslategrey;
      color: firebrick;
  }
  div{
      background-color: lightskyblue;
      align-items: center;
      padding: 20px;
      border: 8px inset darkslateblue;
      image-resolution: 200px;
  }
img{
    align-items: center;
}
h2{
    text-align: center;
    text-shadow: dimgray;
}
.article{
    border: 3px inset rgb(150, 150, 240);
    padding: 10px;
    margin: 5px;
    background-color: lightsteelblue;
}
p{
    color: rgb(154, 154, 184);
}